{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C&B</title>
</head>
<body>
    <div  class = "navigation">
        <ul>
    <li><a href="/">Home</a></li>
   <li> <a class = "active" href="product">Products</a></li>
   <li><a href="order">Order Now</a></li>
   <li><a href="contact">Contact us</a></li>
   <li><a href="carrier">Carrer</a>
   <li><a href="API">Api</a>

   </li>
</ul>
</div>
    <section>
    <link rel="stylesheet" href="{%static 'contact.css'%}">
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <h3>Email : bimala@gmail.com </h3>
    <h3> Phone : 984577584737374 </h3>
    <h3>  Facebook : facebook.com/coffeeandbeans </h3>
    <h3> Address : Kalanki, Kathmandu </h3>
   
    </section>
</body>
</html>