{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C&B</title>
</head>
<body>
        <div  class = "navigation2">
            <ul>
                <li><a href="/">Home</a></li>
       <li> <a class = "active" href="product">Products</a></li>
       <li><a href="order">Order Now</a></li>
       <li><a href="contact">Contact us</a></li>
       <li><a href="carrier">Carrer</a>
       <li><a href="API">Api</a>

       </li>
    </ul>
    </div>
        <h1 name = first> Welcome  to Coffee and Beans</h1>
        <h3> we deliver the best quality coffee and tea product <br>
        To know more about our product visit the pricing side above
        </h3>
        <img src="https://imgs.search.brave.com/kPF2qbC8-RVJYHXeelZxzZwaUN7WW0BJ2DQLKX_P4Xc/rs:fit:759:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC50/d1RydExJal9MVkxa/Qm8ta2JCaEpnSGFF/byZwaWQ9QXBp" alt="">
        <link rel="stylesheet" href="{%static 'home.css'%}">
        </div>
    <!-- <h3> Login or Register</h3>
    <input type="text" placeholder="enter username" name="username" class = "username">
    <input type="text" placeholder="enter password" name = "password"> <br>
    <button href="bcd.html" onclick="login"> Login </button>
    <button> Signup</button> -->
</body>
</html>